@tailwind base;
@tailwind components;
@tailwind utilities;

.russo-one-regular {
  font-family: "Russo One", serif;
  font-weight: 400;
  font-style: normal;
}
.navy {
  color: #000080;
}
.orange {
  color: #f08558;
}
